h3 {
    padding: 8px;
}

.entityProfileGrid {
    margin-top: 10px;
    border: 0.1px solid #ddd
}

@media (max-width: 1024px) and (min-width: 768px) {

  .parr_Sum{
    width:20% !important;
}
}

.parr_Sum{
    border: 0.1px solid #ddd
}
.latest_User{
    border: 0.1px solid #ddd
}

.parrSumLabel {
    text-align: right;
}

.form-group.app-composite-widget.row.clearfix {
    margin-bottom: unset;
}

/*.createUserNotes{
     border: 0.1px solid #ddd
}*/
.cancelLine-19_1con{
     border-top: 1px solid #ddd;
}
.enter_NoteLine{
     border-bottom: 1px solid #ddd;
     width: 94%;
}
.addAttachmentLine{
    border-bottom: 1px solid #ddd;
    width: 90%;
}
.textAreaRadius
{
    border-radius: 0.2em
}
/*.CreateUserNotesdialog1{
    top:70px;
}*/
/* for dialog box header underline */
.wm-app .modal-dialog .modal-header .modal-title {
    color: #333;
    font-size: 22px;
    text-transform: none;
    background-color: #fff;
    padding-bottom: -14em;
    margin-bottom: -19px;
}
/* panel */
button.app-icon.wi.card-action {
display: none;
}
.associatePanel h4{
    padding: 0 0 -5px 0;
    width: 96%;
    font-size: 14px !important;
    position: relative;
    cursor: pointer;
    top: -7px;
    left: 3px;
    color: #4B286D !important;
   font-weight: bold !important;
}

button.btn.app-button.btn-default.fileIcon {
    border: unset;
}