.wm-app .search-outer-container .app-textbox.form-control{
    width: 0;
}

.wm-app .search-transition {
    width: 100%!important;
    padding: 5px!important;
}

.app-label.hello-loggedUser{
    right:5em;
    font-size:17px;
}