/*.app-tabs .tabs-wrapper {
    width: 110%;
    height: 100%;
}*/
/*.createDisputeLine{
     border-bottom: 1px solid #ddd; 
     width: 96%
}*/
.disputeDetailsLine{
    border-bottom: 1px solid #ddd; 
    width: 96%
}
h3 {
    padding: 8px;
}
h4 {
    margin: 0 0 0 34px;
    border-bottom: 1px solid #ddd; 
    width: 96%
}