/*.app-tabs .tabs-wrapper {
    width: 110%;
    height: 100%;
}*/
/*.createDisputeLine{
     border-bottom: 1px solid #ddd; 
     width: 96%
}*/
.disputeDetailsLine{
    border-bottom: 1px solid #ddd; 
    width: 96%
}