.disputeDetailsLine{
    border-bottom: 1px solid #ddd; 
    width: 96%
}
h3 {
    padding: 8px;
}
h4 {
    margin: 0 0 0 34px;
    border-bottom: 1px solid #ddd; 
    width: 96%
}

.BANbutton {
    left: -17px;
    top: -2px;
}

.wm-app .app-input-wrapper {
    display: contents !important;
}

input.form-control.app-textbox.app-number-input.ng-pristine.ng-invalid.ng-touched {
    width: 70%
}

input.form-control.app-textbox.app-number-input.ng-untouched.ng-pristine.ng-invalid {
    width: 70%;
}

input.form-control.app-textbox.app-number-input.ng-untouched.ng-pristine.ng-valid {
    width: 70%
}

input.form-control.app-textbox.app-number-input.ng-pristine.ng-valid.ng-touched {
    width: 70%;
}

input.form-control.app-textbox.ng-pristine.ng-valid.ng-touched {
    width: 70%;
}

input.form-control.app-textbox.ng-untouched.ng-pristine.ng-valid {
    width: 70%;
}

textarea.form-control.app-textarea.ng-valid.ng-dirty.ng-touched {
    resize: none;
}

wm-textarea.ng-valid.app-input-wrapper.ng-touched.ng-dirty {
    resize: none;
}

textarea.form-control.app-textarea.ng-untouched.ng-valid.ng-dirty {
    resize: none;
}

.labelGrid {
    width: 40%;
}

.labelValue {
    width: 60%;
}

.createDisputeLabel {
    float: right;
}