.full-border {
    border: 0.1px solid #ddd
}

.popover-arrow.arrow {
    left: 100px;
}

popover-container.popover.in.popover-bottom.bs-popover-bottom.bottom.app-popover.animated.app-popover-widget-id44.bs3 {
    left: 220px;
}