.entity_1{
     border: 0.1px solid #ddd 
}
.entity_2{
     border: 0.1px solid #ddd 
}
.entity_3{
     border: 0.1px solid #ddd 
}
.entity_4{
     border: 0.1px solid #ddd 
}
.entity_5{
     border: 0.1px solid #ddd 
}
.entity_6{
     border: 0.1px solid #ddd 
}
.entity_7{
     border: 0.1px solid #ddd 
}