.selectBan{
    border: solid;
    border-width: 0.1px;
    border-color: lightgray;
    /*width:85%;*/
    overflow: hidden;
    /*width: 14em;*/
}

/*@media (min-width: 500px) {
.summary-col-width-mediuminstallBAN {
flex: 0 0 9%;
max-width: 10%;
min-width: 16%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
}*/
/* for lines*/
h4.subHeadingLabel {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 0 34px;
    border-bottom: 1px solid #ddd; 
    width: 96%;
    padding-bottom: 6px;
}
h4.installScheduleLabel {
    margin: 0 0 0 34px;
    width: 96%
}
.installmentDetailsLine{
    border-bottom: 1px solid #ddd;
     width:96%;
}
.installmentScheduleLine-9_2con{
      border-bottom: 1px solid #ddd;
      width:98.5%;
}
.parrDetailsLable{
  border-bottom: 1px solid #ddd;  
}
.InstallmentLable{
  border-bottom: 1px solid #ddd;  
}

h3 {
    padding: 8px;
}

button.btn.app-button.row-action.row-action-button.undefined.edit.edit-row-button.btn-xs {
    width: 30%;
    background-color: #4B286D;
    color: white;
}

button.btn.app-button.row-action.row-action-button.undefined.edit.edit-row-button.btn-xs: hover {
    width: 30%;
    background-color: #4B286D;
    color: white;
}

.wm-app .app-datagrid {
    margin-bottom: 10px;
}

input.form-control.app-textbox.app-dateinput.display-input {
    height: 2.15em !important;
}