.ARAgentLabel {
    float: right;
    padding: 0.2em 0.5em 0 0.5em;
}

.filterCriteriaGrid {
    margin: 15px 0 0 46px;
}

input.form-control.app-textbox.app-dateinput.display-input {
    width: 49%;
}

input#workCategorySelectValues {
    height: 28px;
    border-radius: unset;
    border-color: #4B286D !important;
}

.comboTreeArrowBtn {
    border-radius: unset;
    background: none;
    border-left: 0;
    border-color: #4B286D;
    border-top: 1px solid #4B286D !important;
    border-right: 1px solid #4B286D !important;
    border-bottom: 1px solid #4B286D !important;
}

.comboTreeDropDownContainer{
    height: 100px;
}

.filterButtons {
    text-align: right;
}

@media only screen and (min-width: 1780px) and (max-width: 1930px) {
    input.form-control.app-textbox.app-dateinput.display-input {
        width: 67% !important;
    }
}

@media only screen and (min-width: 1270px) and (max-width: 1500px) {
    input.form-control.app-textbox.app-dateinput.display-input {
        width: 38% !important;
    }
    
    .assignedTeamGrid {
        width: 10.5% !important;
    }
    
    .actionTypeGrid {
        width: 10.5% !important;
    }
    
    .selectGrid {
        width: 12% !important;
    }
    
    .assignedPersonGrid {
        width: 10% !important;
    }
    
    .statusGrid {
        width: 10% !important;
    }
    
    .fromDateGrid {
        width: 10% !important;
    }
    
    .toDateGrid {
        width: 10% !important;
    }
    
    .entityOwnerGrid {
        width: 10% !important;
    }
    
    .workCategoryGrid {
        width: 10% !important;
    }
    
    .filterButtons {
        width: 20.5% !important;
    }
    
    .filterCriteriaGrid {
        margin: 15px 0 0 32px;
    }
}