.wm-app i.wi.wi-file-text {
    display: none;
}

.wm-app .app-dialog-header.modal-header {
    border-bottom: 1px solid #e9ecef;
}

.heading {
    border-bottom: 1px solid #e9ecef;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}

#mySelectionPS {
    min-width: 210px;
    width: 200px;
}

input.form-control.app-textbox.app-dateinput.display-input {
    width : unset !important;
    height: 2.15em;
}

.wm-app .app-input-wrapper, .wm-app .app-select-wrapper {
    display: block !important;
}

.Order_popover{
    top:10px ;
    left: 20px;
}