.rrr{
    margin-top: 10px;
    border: 0.1px solid #ddd
}

.createDispute {
    margin-top: 1%;
    margin-left: 92.7%;
}

.backIcon {
    font-size: 25px;
    cursor: pointer;
}

a.nav-link.active {
    color: #482B6D;
    border-bottom: 4px solid #482B6D;
}

li.tab-header.nav-item {
    margin-right: 45px;
}

.wm-app .nav-tabs {
    border-bottom: none;
}

.entityProfileLabel {
    float: right;
}

.popover.bottom > .arrow {
    margin-left: 50px;
}

.lookupLabel {
    float: right;
}

.morePopover {
    font-style: italic;
    right: 50px;
    bottom: 3px;
}

h4.subHeading {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #ddd; 
    padding-bottom: 5px;
    margin-bottom: 13px;
}

.selectedLabel {
    text-align: right;
}

.dialogTable {
    padding: 1em 1em 0 1em;
    border: 1px solid #ddd;
    margin-bottom: 25px;
}

.app-dialog-header.modal-header {
    border-bottom: 1px solid #ddd; 
}

label.app-label.fico-icon-flag-solid {
    color: red;
}

.fico-icon-flag-solid {
color: red;
}

i.wi-file-text:before {
    content:"";
}