.rrr{
    margin-top: 10px;
    border: 0.1px solid #ddd
}

.createDispute {
    margin-top: 1%;
    margin-left: 92.7%;
}

.backIcon {
    font-size: 25px;
    cursor: pointer;
}

a.nav-link.active {
    border-bottom: 4px solid gray;
}

li.tab-header.nav-item {
    margin-right: 45px;
}

.wm-app .nav-tabs {
    border-bottom: none;
}

.entityProfileLabel {
    float: right;
}

.popover.bottom > .arrow {
    margin-left: 50px;
}

.lookupLabel {
    float: right;
}

.morePopover {
    font-style: italic;
    right: 50px;
    bottom: 3px;
}

/*tr.app-datagrid-detail-row: hover {
    background-color: green;
}

td.app-datagrid-row-details-cell: hover {
    background-color: green;
}*/