.InstallBAN {
    border: solid;
    border-width: 0.1px;
    border-color: lightgray;
    width:45%;
}

button.app-icon.wi.card-action {
    display: none;
}

.cancelParrborder{
    border-radius: 5px;
}