/*managing space for parr details*/
* {
  box-sizing: border-box;
}

.col-sm-18grid{
    width: 63.333333%
}


.InstallBAN {
    border: solid;
    border-width: 0.1px ;
    border-color: lightgray ;
    width:85% ;
    overflow: hidden ;
    width: 14em ;
}

.installmentlist{
    border: solid ;
    border-width: 0.1px ;
    border-color: lightgray;
    width:85% ;
    overflow: hidden ;
    width: 14em ;
    
}

button.app-icon.wi.card-action {
    display: none;
}
.cancelParrDialog{
    top: 200px;
}
.cancelParrborder{
    border-radius: 5px;
}

.newDialogSubmit {
    top: 200px;
    height: 400px;
}
.Renegotiate{
    top:100px;
}

.parrDeatailsLine{
    border-bottom: 1px solid #ddd;
    width:400% !important;
}
.grid-col41-size{
    width:190% !important;
}
.installScheduleLine{
   border-bottom: 1px solid #ddd !important ;
}
.renegotiatteLine1{
   border-bottom: 1px solid #ddd ; 
  
}
.reneScheduleLine{
    border-bottom: 1px solid #ddd; 
}
.reneCommentBox{
    border-radius: 5px;
}
.rene-37gridLIne{
    border-bottom: 1px solid #ddd;   
}
.renegoLine-18con{
 border-bottom: 1px solid #ddd; 
}
.cancelLine-19_1con{
   border-bottom: 1px solid #ddd;  
}

/*.installScheduleLine1-20_1con{
   border-bottom: 1px solid #ddd ; 
   margin-left: 5.7em;
   margin-right: 1.1em;
}
.parrHistoryLine-21_1con{
   border-bottom: 1px solid #ddd ; 
   margin-left: 5.7em;
   margin-right: 1.1em;
}*/
/* managing spaces for renegotiate dialog box */
.col-sm-5grid{
    width:68%;
}
.col-sm-15grid{
    width:19%;
}
.col-sm-16grid{
    width:27.6%;
}
.col-sm-23grid{
    width:25%;
}
.getInstallment-reneTable{
    width: 96%; 
    margin-left: 1.4em;
}
.col-22grid{
    width:80%;
}
.col-56gridButtons{
text-align: right
}

.wm-app .modal-dialog .modal-header .modal-title {
    color: #333;
    font-size: 22px;
    text-transform: none;
    background-color: #fff;
    padding-bottom: -28em;
    margin-bottom: -14px;
}
.wm-app app-partial-parrdetails .modal-dialog .modal-header .modal-title {
    color: #333;
    font-size: 22px;
    text-transform: none;
    background-color: #fff;
    padding-bottom: -28em;
    margin-bottom: -24px;
}
/*creating global class to set dialog table alignment*/
.card-actions.app-datagrid-actions.col-auto {
    float: right !important;
}

.wm-app .modal-dialog .modal-body .app-livelist .app-list-item{
     borde: none !important;
}

/*view PARR small res*/
@media only screen and (min-width: 1260px) and (max-width: 1631px) {
    .gridrow5 {
        margin: -12px 0px 15px -3px !important;
    }
    .parrlabel1 {
        width: 17% !important; /*earlier it was 15%*/
    }
    .parrIDvalueLabel {
        width: 15% !important;
    }
    .parrlabel2 {
        width: 11% !important;
    }
    .statusValueLabel {
        width: 15% !important;
    }
    .parrlabel3 {
        width: 15% !important;
    }
    .parrAmtValueLabel {
        width: 15% !important;
    }
    .parrlabel4 {
        width: 17% !important;  /*earlier it was 15%*/
    }
    .parrValueLabel4 {
        width: 15% !important;
    }
    .parrlabel5 {
        width: 11% !important;
    }
    .parrValueLabel5 {
        width: 15% !important;
    }
    .parrlabel6 {
        width: 15% !important;
    }
    .parrlabel7 {
        width: 17% !important; /*earlier it was 15%*/
    }
    .parrValueLabel7 {
        width: 15% !important;
    }
    .parrlabel8 {
        width: 11% !important;
    }
    .parrValuelabel8 {
        width: 15% !important;
    }
    .parrlabel9 {
        width: 15% !important;
    }
}   

/*view PARR medium res*/
/*@media only screen and (min-width: 1405px) and (max-width: 1630px) {
.parrlabel4 {
    min-width: 11% !important;
    }

.parrlabel5 {
    min-width: 11% !important;
    }

.parrlabel6 {
    min-width: 11% !important;
    }

.parrlabel9 {
    min-width: 11% !important;
    }

.parrIDvalueLabel {
    width: 4% !important;
    }
}*/

/*view PARR large res*/
@media only screen and (min-width: 1918px) {
    .parrValuelabel8 {
        width: 8.4% !important; /*earlier it was 11%*/
    }
    
    .recurrenceLableGrid{
       width: 11% !important; 
    }
    
    .viewParrLabelsGrid {
        margin-left: -12px !important;
    }
}


/*renegotiate PARR small res*/
@media only screen and (min-width: 1260px) and (max-width: 1630px) {
    .installmentBANlabelGrid {
        width: 23% !important;
    }
    
    .parrIDLabelGrid {
        width: 14% !important;
    }
    
    .recurrenceLableGrid{
       width: 17% !important; 
    }
    
    .amtOverlabelGrid {
        width: 35% !important;
    }
    
    .commentsLabelGrid {
        width: 23.3% !important;
    }
    
    .parrAmtLabelGrid {
        width: 16% !important;
    }
}

/*renegotiate PARR large res*/
@media only screen and (min-width: 1795px) {
    .installmentBANlabelGrid {
        width: 15% !important;
    }
    
    .parrIDLabelGrid {
        width: 11% !important;
    }
    
    .recurrenceLableGrid{
       width: 13% !important; 
    }
    .amtOverlabelGrid {
        width: 23% !important;
    }
    
    .commentsLabelGrid {
        width: 15.3% !important;
    }
}


h4.subHeadingLabel {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0 0 60px;
    border-bottom: 1px solid #ddd; 
    width: 96%;
    padding-bottom: 6px;
}

h4.panelSubHeading {
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0 0 60px;
    border-bottom: 1px solid #ddd; 
    width: 96%;
    padding-bottom: 6px;
}

.ParrDetailsLabel {
    float: right;
}

h3.viewPARRlabel {
    padding: 0 0 5px 0;
    margin: 10px 0 0 15px; 
}

.hide-icon1 {
    display: none;
}

.hide-icon2 {
    display: none;
}

i.fico-icon-chevron-down.show-icon1 {
    cursor: pointer;
    margin-right: 10px;
}

i.fico-icon-chevron-down.hide-icon1 {
    cursor: pointer;
    margin-right: 10px;
}

i.fico-icon-chevron-right.show-icon1 {
    cursor: pointer;
    margin-right: 10px;
}

i.fico-icon-chevron-right.hide-icon1 {
    cursor: pointer;
    margin-right: 10px;
}

i.fico-icon-chevron-down.show-icon2 {
    cursor: pointer;
    margin-right: 10px;
}

i.fico-icon-chevron-down.hide-icon2 {
    cursor: pointer;
    margin-right: 10px;
}

i.fico-icon-chevron-right.show-icon2 {
    cursor: pointer;
    margin-right: 10px;
}

i.fico-icon-chevron-right.hide-icon2 {
    cursor: pointer;
    margin-right: 10px;
}

.wm-app .app-dialog-header.modal-header {
    padding-bottom: 22px;
    border-bottom: 1px solid #ddd; 
}

h4.reneSubHeadingLabel {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0 0 20px;
    border-bottom: 1px solid #ddd; 
    width: 96%;
    padding-bottom: 6px;
}

button.btn.app-button.row-action.row-action-button.btn-primary.btn-xs.edit.edit-row-button {
    background-color: #4B286D;
    border-color: #4B286D;
    width: 30%;
}

.viewPARRLabel {
    float: left;
}

.wm-app input.form-control.app-textbox.app-number-input {
    margin-top: -14px;
    margin-left: 4px;
}

@media only screen and (min-width: 1630px){
    
    .parrlabel1{
        width: auto;
    }
    
    .parrlabel4{
       width: auto; 
    }
    
    .parrlabel5{
      width: auto;   
    }
    
    .parrlabel6{
        width:auto !important;
    }
    
    .parrlabel7{
        width:auto;
    }
    
    .parrValueLabel5{
        width:6% !important;
    }
    .parrValueLabel7{
        width:7.3% !important;   
    }
    
    .parrValuelabel8{
        width: 8.4% !important;
    }
   .parrIDvalueLabel{
    padding-left: 1.3em;
   }
}