.reportTableBorder {
    border: 0.1px solid #ddd;
    margin-left: 0.2em
}

.createdTeamGrid wm-select#createdTeamSelection {
    width: 40%;
}

wm-select#mySelection {
    width: 60%;
}

/*resolution styling start*/
@media only screen and (max-width: 1720px) {
    #createTimeFrameGrid {
        width: 12% !important;
    }
    
}

@media only screen and (min-width: 1500px) and (max-width: 1580px) {
    .parrStatusGrid {
        width: 19% !important;
    }
    .createdByGrid {
        width: 19% !important;
    }
    
}

@media only screen and (min-width: 1250px) and (max-width: 1500px) {
    .blankGrid {
        width: 4% !important;
    }
    .entityRiskGrid {
        width: 20% !important;
    }
    .parrStatusGrid {
        width: 20% !important;
    }
    wm-select#mySelection {
        width: 50% !important;
    }
    input.form-control.app-textbox.app-dateinput.display-input {
        width: 45% !important;
    }
    .evaluationGrid {
        width: 20% !important;
    }
    .createdByGrid {
        width: 20% !important;
    }
    .createdTeamGrid {
        width: 24% !important;
    }
    .createdTeamGrid wm-select#createdTeamSelection {
        width: 43%;
    }
}
/*resolution styling end*/