.reportTableBorder {
    border: 0.1px solid #ddd;
    margin-left: 0.2em
}

.createdTeamGrid wm-select#createdTeamSelection {
    width: 40%;
}

wm-select#mySelection {
    width: 60%;
}

/*resolution styling start*/
@media only screen and (max-width: 1720px) {
    #createTimeFrameGrid {
        width: 12% !important;
    }
    
}

@media only screen and (min-width: 1500px) and (max-width: 1580px) {
    .parrStatusGrid {
        width: 19% !important;
    }
    .createdByGrid {
        width: 19% !important;
    }
    
}

@media only screen and (min-width: 1250px) and (max-width: 1600px) {
    .blankGrid {
        width: 4% !important;
    }
    .entityRiskGrid {
        width: 20% !important;
    }
    .parrStatusGrid {
        width: 20% !important;
    }
    wm-select#mySelection {
        width: 50% !important;
    }
    input.form-control.app-textbox.app-dateinput.display-input {
        width: 70% !important;
        height: 2.15em;
    }
    .evaluationGrid {
        width: 20% !important;
    }
    .createdByGrid {
        width: 20% !important;
    }
    .createdTeamGrid {
        width: 24% !important;
    }
    .createdTeamGrid wm-select#createdTeamSelection {
        width: 43%;
    }
}

@media only screen and (min-width: 1601px) {
    input.form-control.app-textbox.app-dateinput.display-input {
        /*width: 70% !important;*/
        height: 2.15em;
    }
}

/*resolution styling end*/

.modal-dialog.app-dialog.modal-dialog.PARRdetailsDailog {
    width: 60%; 
}

.viewPARRLabel {
    float: left;
}

.subHeading_dialog {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-top: unset;
}

i.wi.wi-file-text {
    display: none;
}

.app-dialog-header.modal-header {
    border-bottom: 1px solid #ddd;
}

.InstallBAN {
    border: solid;
    border-width: 0.1px ;
    border-color: lightgray ;
    width:85% ;
    overflow: hidden ;
    width: 14em ;
}

.installmentlist{
    border: solid ;
    border-width: 0.1px ;
    border-color: lightgray;
    width:85% ;
    overflow: hidden ;
    width: 14em ;
    
}

.modal-dialog.app-dialog.modal-dialog.PARRdetailsDailog .pagination.advanced.d-flex.justify-content-between {
    margin-right: unset;
}

@media only screen and (min-width: 1250px) and (max-width: 1765px) {
    .modal-dialog.app-dialog.modal-dialog.PARRdetailsDailog {
        width: 85%; 
    }
}

/*@media only screen and (max-width: 1500px)  {
    
    th.app-datagrid-header-cell.WIDTH_PARRID.ui-resizable {
        width:90px;
    }
    
    th.app-datagrid-header-cell.WIDTH_ENTID.ui-resizable {
        width:86px;
    }*/
    
   /* th.app-datagrid-header-cell.WIDTH_NAME.ui-resizable {
        width:110px;
    }*/
    
    /*th.app-datagrid-header-cell.WIDTH_RISK.ui-resizable {
        width:110px;
    }*/
    
    
    /*th.app-datagrid-header-cell.WIDTH_STATUS.ui-resizable {
        width:110px;
    }*/
    
  /*  th.app-datagrid-header-cell.WIDTH_START.ui-resizable {
        width:115px;
    }
    
    th.app-datagrid-header-cell.WIDTH_EXPIRY.ui-resizable {
        width:115px;
    }*/
    
   /* th.app-datagrid-header-cell.WIDTH_EVALUATION.ui-resizable {
        width:110px;
    }
    */
/*    th.app-datagrid-header-cell.parr_Amt.ui-resizable {
        width:125px;
    }
    
     th.app-datagrid-header-cell.WIDTH_PMT.ui-resizable {
        width:110px;
    }
    
    th.app-datagrid-header-cell.WIDTH_TEAM.ui-resizable {
        width:110px;
    }
    
    th.app-datagrid-header-cell.WIDTH_BY.ui-resizable {
        width:140px;
    }
}*/