.wm-app i.wi.wi-file-text {
    display: none;
}

/*.wm-app .app-dialog-body.modal-body {
    height: 200px;
}*/

.wm-app .app-dialog-header.modal-header {
    border-bottom: 1px solid #e9ecef;
}

.heading {
    border-bottom: 1px solid #e9ecef;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}

textarea.form-control.app-textarea.ng-untouched.ng-valid.ng-dirty {
    resize: none;
}

.borderGrid{
     border-right: 1px solid #ddd;
}

.filterIcon {
    cursor: pointer;
    color: #4B286D;
    margin: 4px;
}

.actionlabel {
    margin: 5px 0 15px 9px !important;
}

.filterLabel {
    margin-bottom: -5px;
}

.filterButtons {
    text-align: right;
}
.comment-border{
    border-radius: 0.3em;
}

@media only screen and (min-width: 1260px) and (max-width: 1404px) {
    .wm-app .app-date.input-group .form-control.app-dateinput {
        width: 46% !important;
    }
}

@media only screen and (min-width: 1404px) and (max-width: 1550px) {
    .wm-app .app-date.input-group .form-control.app-dateinput {
        width: 75% !important; /*earlier it was 60%*/
        height:2.15 ;
    }
}
.Comments-ellipses{
    max-width: 5px !important;
    min-width: 4px !important;
    text-overflow: ellipsis !important;;
    white-space: nowrap !important;;
    overflow: hidden !important;
}