.wm-app .app-dialog-header.modal-header {
    border-bottom: 1px solid #e9ecef;
}

.heading {
    border-bottom: 1px solid #e9ecef;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}

textarea.form-control.app-textarea.ng-untouched.ng-valid.ng-dirty {
    resize: none;
}

.borderGrid{
     border-right: 1px solid #ddd;
}

.filterIcon {
    cursor: pointer;
}