.parr_Sum{
    border: 0.1px solid #ddd

}

.latest_Action{
    border: 0.1px solid #ddd
}
.fico-icon-flag-solid
{
    color: red;
   padding-right: 0.4em;
   padding-left:-1.3em;
}
.entityProfileCancelledGrid {
    margin-top: 10px;
    border: 0.1px solid #ddd
}
.getEntityDetailsTable1{
    padding-right: 1.7em;
}
.parrSumLabel {
    text-align: right;
}