.disputeDeatailsLine{
    border-bottom: 1px solid #ddd;
    width:400% !important;
}
.grid-col40-size{
    width:190% !important;
}

.updateDisputeLine1{
    border-bottom: 1px solid #ddd ; 
}

.closeDisputeLine{
    border-bottom: 1px solid #ddd ; 
}

.cancelDisputeLine{
   border-bottom: 1px solid #ddd ;  
}

.disputeHistoryLine-21_1con{
   border-bottom: 1px solid #ddd ; 
   margin-left: 5.7em;
   margin-right: 1.1em;
}

/* for dialog box header underline */
.wm-app .modal-dialog .modal-header .modal-title {
    color: #333;
    font-size: 22px;
    text-transform: none;
    background-color: #fff;
    padding-bottom: -14em;
    margin-bottom: -14px;
}

.updateDisputeLabel {
    float: right;
}

.disputeDetailsLabel {
    float: right;
}

.labelGrid {
    width: 40%;
}

.labelValue {
    width: 60%;
}

i.app-icon.panel-icon.fico-icon-chevron-light-down {
    margin: 23px 0 0 28px;
    cursor: pointer;
}

i.app-icon.panel-icon.fico-icon-chevron-light-right {
    margin: 23px 0 0 28px;
    cursor: pointer;
}

h3 {
    padding: 0 0 5px 0;
    margin: 10px 0 0 15px; 
    border-bottom: 1px solid #ddd;
}

h4 {
    padding: 0 0 7px 0;
    width: 96%;
    font-size: 22px !important;
    position: relative;
    cursor: pointer;
    top: -33px;
    left: 59px;
    border-bottom: 1px solid #ddd; 
    font-weight: bold !important;
}

button.app-icon.wi.card-action {
    display: none;
}