.lookup-container {
    margin-bottom: 15px;
    border-bottom: 0.1em solid #ddd;
    border-width: 0.1em;
}

#selectBox {
    width: 44%;
    min-width: 152px;
}

.labelOR {
    color: white;
    border: 1px solid purple;
    top: 30px;
    padding: 15px 15px !important;
    border-radius: 29px;
    background-color: #4B286D;
    right: 1rem;
}

h3 {
    margin-left: 8px;
}

.borderGrid {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.rrr{
    border: 0.1px solid #ddd;
    padding: 0 23px 20px 0px;
}
@media (max-width: 1024px) and (min-width: 768px) {

  .lookup_mac {
    width: 16% !important;
}
.app-grid-column-mac {
    width: 150px!important;
}
.borderGrid-mac {
    margin: 5px 5px 5px 20px !important; 
}
.number-mac {
    margin: 6px 5px 5px 0px !important;
    width: 10% !important;
}
.textbox-mac {
    margin: 5px 2px 5px 0px !important;
    width: 40% !important;
}
.billing-mac {
    width: 32% !important;
}
.selectbox2-mac {
    width: 97% !important;
}
.selectbox1-mac {
    width:80% !important;
}
.mar-20 {
    margin: 20px 0 !important;
}
}

.radioBtn {
    margin: 7px 0 0 2px !important;
}

@media only screen and (max-width: 1630px) {
.nameLabelGrid {
    width: 95% !important;
    }
}
@media only screen and (max-width: 1630px) {
.nameValueGrid {
    width: 95% !important;
    }
}
@media only screen and (max-width: 1630px) {
.numberLabelGrid {
    width: 95% !important;
    }
}
@media only screen and (max-width: 1630px) {
.numberValueGrid {
    width: 95% !important;
    }
}

@media only screen and (max-width: 1435px) {
.nameLabelGrid {
    width: 110% !important;
    }
}
@media only screen and (max-width: 1435px) {
.nameValueGrid {
    width: 110% !important;
    }
}
@media only screen and (max-width: 1435px) {
.numberLabelGrid {
    width: 110% !important;
    }
}
@media only screen and (max-width: 1435px) {
.numberValueGrid {
    width: 110% !important;
    }
}
@media only screen and (max-width: 1435px) {
.numberLayoutGrid {
    margin-left: -33px;
    }
}

/*lookup small res*/
@media only screen and (min-width: 1260px) and (max-width: 1700px) {
    .levelSelectBox {
        width: 120px !important;
    }
    
    .banTextBox {
        width: 120px !important;
    }
    
    .grid1 {
        width: 15% !important;
    }
    
    .orGrid {
        width: 17% !important;
    }
    
    .billSystemSelectBox {
        width: 150px !important;
    }
    
    .buttonGrid {
        margin: 40px 10px 10px 50px !important;
    }
    
    .grid3 {
        width: 15% !important;
    }
}

wm-input#banPhNo {
    display: block;
    width: 65%;
}