.lookup-container {
    margin-bottom: 15px;
    border-bottom: 0.1em solid #ddd;
    border-width: 0.1em;
}

#selectBox {
    width: 44%;
}

.labelOR {
    color: white;
    border: 1px solid purple;
    top: 30px;
    padding: 15px 15px !important;
    border-radius: 29px;
    background-color: #4B286D;
    right: 1rem;
}

h3 {
    margin-left: 8px;
}

.borderGrid {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


.rrr{
    border: 0.1px solid #ddd;
    padding: 0 10px 20px 10px;
}
@media (max-width: 1024px) and (min-width: 768px){

  .lookup_mac {
    width: 16% !important;
}
.app-grid-column-mac {
    width: 150px!important;
}
.borderGrid-mac {
    margin: 5px 5px 5px 20px !important; 
}
.number-mac {
    margin: 6px 5px 5px 0px !important;
    width: 10% !important;
}
.textbox-mac {
    margin: 5px 2px 5px 0px !important;
    width: 40% !important;
}
.billing-mac {
    width: 32% !important;
}
.selectbox2-mac {
    width: 97% !important;
}
.selectbox1-mac {
    width:80% !important;
}
.mar-20 {
    margin: 20px 0 !important;
}
}