.HomeFilterLabel {
    float: right;
    padding: 0.2em 0.5em 0 0.5em;
}

.filtersLabelGrid {
    margin: 15px 0 0 46px;
}

.entityViewFilterButtons {
    margin-top: 50px;
    text-align: right;
}

.banViewFilterButtons {
    margin-top: 50px;
    text-align: right;
}

@media only screen and (min-width: 1270px) and (max-width: 1480px) {
    .assignedTeamGrid {
        width: 10% !important;
    }
    
    .entityOwnerGrid {
        width: 10% !important;
    }
    
    .workCategoryGrid {
        width: 10% !important;
    }
    
    #buttonsLayoutGrid {
        width: 30% !important;
    }
    
    .entityViewButton {
        width: 36% !important;
    }
    
    .entityViewFilterButtons {
        width: 45.7% !important;
    }
    
    .banViewFilterButtons {
        width: 45.7% !important;
    }
}


p.alert.app-message.alert-danger.errormessage {
    width: 98% !important;
}