.HomeFilterLabel {
    float: right;
    padding: 0.2em 0.5em 0 0.5em;
}

.filtersLabelGrid {
    margin: 15px 0 0 46px;
}

.entityViewFilterButtons {
    text-align: right;
}

.banViewFilterButtons {
    text-align: right;
}