.HomeFilterLabel {
    float: right;
    padding: 0.2em 0.5em 0 0.5em;
}

.filtersLabelGrid {
    margin: 15px 0 0 46px;
}

.entityViewFilterButtons {
    margin-top: 50px;
    text-align: right;
}

.banViewFilterButtons {
    margin-top: 50px;
    text-align: right;
}

@media only screen and (min-width: 1270px) and (max-width: 1480px) {
    .assignedTeamGrid {
        width: 10% !important;
    }
    
    .entityOwnerGrid {
        width: 10% !important;
    }
    
    .workCategoryGrid {
        width: 10% !important;
    }
    
    #buttonsLayoutGrid {
        width: 30% !important;
    }
    
    .entityViewButton {
        width: 36% !important;
    }
    
    .entityViewFilterButtons {
        width: 45.7% !important;
    }
    
    .banViewFilterButtons {
        width: 45.7% !important;
    }
}


p.alert.app-message.alert-danger.errormessage {
    width: 98% !important;
}

.comboTreeArrowBtn {
    border-radius: unset;
   
    background: none;
    border-left: 0;
    border-color: #4B286D;
    border-top: 1px solid #4B286D !important;
    border-right: 1px solid #4B286D !important;
    border-bottom: 1px solid #4B286D !important;
}

input#WorkCategoryMutliSel {
    height: 28px;
    border-radius: unset;
    border-color: #4B286D !important;
}

.mutli-select {
    margin-top: -3px;
}

.comboTreeDropDownContainer{
    height: 120px;
}

input#WorkCategoryMutliSelForBanView {
    height: 28px;
    border-radius: unset;
    border-color: #4B286D !important;
}

.Table-Font{
    
    font-size: 12px;
    
}

/*.app-datagrid {
    width: 104em;
    overflow: auto;
}*/
/*.app-grid .app-datagrid .app-grid-content{
    overflow-x:auto;
        width: 100%;
        height: 100%;
}*/

