.panel1 {
    width: 10%;
}

.container100 {
    display: flex;
}

.panel2 {
    width: 25%;
}

.panel3 {
    width: 65%;
}

.panel4 {
    width: 25%;
}

.panel5 {
    width: 65%;
}

.panel6 {
    width: 85%;
}

.panel71 {
    width: 25%;
}

.panel9 {
    width: 65%;
}

.panel81 {
    width: 85%;
}