/* flex styles */
.inFlex {
    display: inline-flex;
}

.regularFlex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.item-end {
    align-items: flex-end;
}

.item-start {
    align-items: flex-start
}

/* others */
.by-span {
    color: grey;
}

.download-link {
    color: blue;
    text-decoration: underline;
}

.action-links {
    color: blue;
    margin: 0 1.5em;
}

/* documents list table */
div[name='documentsDataTable'] .app-grid-content div[data-col-identifier='lastUpdated'] {
   
    display: inline-flex;
    align-items: center;
}


/*div[name='documentsDataTable'] .docUpdatedby-label {*/
    /*width: 45%;*/
/*}*/

div[name='documentsDataTable'] .document-actions{
    display: inline-flex;
    width: 40%;
}

.column-bottom-border {
    border-bottom: 1px solid #ccc !important;
}

.column-right-border {
    border-right: 1px solid #ccc !important;
}

.column-top-border {
    border-top: 1px solid #ccc !important;
}

.scrolldown {
    width:100%;
    max-height:250px;
    overflow-y:scroll;
    display: block;
    overflow-x: hidden;
}