:root {
    --primaryColor: #00629b;
    --leftMenuBGColor: #f2f2f2;
    --defaultLabelColor: #333;
    --displayValue: block;
}

body {
    box-sizing: border-box;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.icon-check-green {
    color: green;
}

.app-left-panel {
    float: left !important;
}

.app-content-column {
    float: right !important;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*.leftmenu-section {*/
/*    background-color: var(--leftMenuBGColor) !important;*/
/*}*/

.width-full {
    width: 100% !important;
    margin: 0 !important;
}

.inflex-center-sb {
    display: flex;
    align-items: center;
}

.colflex-center-sb {
    display: flex;
    align-items: center;
}

.flexCol {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.dv-header-label {
    font-size: 36px;
    color: #6e6d6a;
    line-height: unset;
    font-weight: 300;
    font-family: 'robotolight', 'robotoregular';
    padding: 0 !important;
    margin: 0 !important;
    left: -1px;
}

.dv-header-label.dvType {
    color: var(--defaultLabelColor) !important;
    margin-left: 0.5rem !important;
}

/* message-sections */
.msg {
    margin-bottom: 20px !important;
}

/* upload-download btn groups */
div[name='upload-btn-grp'] .upDown {
    color: var(--defaultLabelColor) !important;
    background: transparent !important;
    outline: none !important;
    border: transparent !important;
    width: fit-content !important;
    height: fit-content !important;
    padding: 0 !important;
}

div[name='upload-btn-grp'] .upDown > i{
    font-size: 30px !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding: 0 !important;
    inset: 0 !important;
}

/* file upload */
div[class~='app-fileupload'] {
    overflow: visible !important; 
}

div[class~='app-fileupload'] .file-upload {
    position: absolute !important;
    bottom: 0 !important;
    /*left: 80px !important;*/
    /* max-width: 150px !important; */
    /* min-width: 100px !important; */
    /* top: -80% !important; */
     overflow: hidden !important; 
     text-overflow: ellipsis !important; 
    /* word-break: keep-all; */
    /* overflow-wrap: break-word; */
    /* text-overflow: ellipsis !important; */
    white-space: nowrap;
    width: 200%  !important;
}

div[class~='app-fileupload'] .file-upload div[class~='upload-file-list'] {
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    width: 100% !important;
    margin-bottom:30px;
}

.control-links {
    position: relative;
    padding-right: 0.5rem;
    margin-left: 0.7rem;
}

.control-links-clone {
    position: relative;
    padding-right: 0.5rem;
    margin-left: 0.7rem;
}

.desc {
    text-transform: lowercase;
}

.desc:first-letter {
    text-transform: uppercase;
}

.control-links:not(:last-child):after {
    content: "|";
    display: var(--displayValue);
    color: var(--primaryColor);
    position: absolute;
    left: 100%;
    top: 0;
    margin: 1px 0;
}

.pageInfo-data {
    /*position: absolute;*/
    /*right: 0 !important;*/
    float: right;
    text-overflow: clip;
    margin-top: 0 0 5px 0;
    font-size: 12px;
}